<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="{% url 'process_csv' %}">
        {% csrf_token %}
        <label for="csv_file">Choose a CSV file:</label>
        <input type="file" name="csv_file" accept=".csv" required>
        <button type="submit" >Upload</button>
    </form>

    <!-- Display results or other content here if needed -->
</body>
</html>
