<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Converting to CSV</title>
</head>
<body>
    <h1>Final Data</h1>

    <table border="1">
        <thead>
            <tr>
                {% for column in final_result_df.columns %}
                    
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in final_result_df.iterrows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--{% for csv_data in csv_data_list %}
    <p>{{ csv_data.first_name }}, {{ csv_data.email_address }}, {{ csv_data.state }}, {{ csv_data.grade_value }}</p>
    {% endfor %}-->

    <form action="{% url 'convert_to_csv' %}" method="post">
        {% csrf_token %}
        <center><input type="submit" value="Convert to CSV"></center>
    </form>


</body>
</html>



































<!-- templates/index.html -->
<!--<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page!</h1>

    {% comment %} {% for col in context %}
    <h2>{{col}}</h2>
    
    
    {% endfor %}  {% endcomment %}
    <table>
        {% for i in columns %}
            <tr>{{i}}</tr>              
                <td></td>            
            </tr>
        {% endfor %}

            <tbody>
            {% for i in context %}
            <tr>
                {% comment %} {% for data in i %} {% endcomment %}
                <td>{{i.State}} </td>
                {% comment %} {% endfor %} {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table> 
       

    Add your content here 
</body>
</html> -->
