<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Converting to CSV</title>
</head>
<body>
    <h1>Final Data</h1>

    <table border="1">
        <thead>
            <tr>
                {% for column in result_df.columns %}
                    
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in result_df.iterrows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--{% for csv_data in csv_data_list %}
    <p>{{ csv_data.first_name }}, {{ csv_data.email_address }}, {{ csv_data.state }}, {{ csv_data.grade_value }}</p>
    {% endfor %}-->

    <form action="{% url 'convert_to_csv_1' %}" method="post">
        {% csrf_token %}
        <center><input type="submit" value="Convert to CSV"></center>
    </form> 


</body>
</html>


